*{
    background-color: #0a0a1f;
    margin: 0;
    padding: 0;
}
body {    
    font-family: "Michroma", serif;
}


.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding: 10px;
}

.nav-item {
    margin: 0 15px;
    position: relative;
    padding: 10px 20px;
    border: 2px solid rgba(249, 251, 254, 0.3);
    border-radius: 0.5rem;
    background-color: #0a0a1f;
    transition: all 0.3s ease;
    cursor: pointer;
    box-shadow: 0 0 20px rgba(190, 179, 251, 0.5);
}

.nav-item:hover {
    border-color: rgba(2, 41, 118, 0.9);
    box-shadow: 0 0 30px rgba(38, 0, 255, 0.9);
    transform: translateY(-6px);
    transition: all 0.5s ease;
}

.nav-item a {
    color: white;
    text-decoration: none;
    font-family: 'Michroma', sans-serif;
    font-size: 18px;
    opacity: 0.8;
    background-color: transparent;
    transition: all 0.3s ease;
   
    
}

.nav-item::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    transition: width 0.3s ease;
    -webkit-transition: width 0.3s ease;
}

.nav-item:hover::after {
    width: 100%;
    left: 0;
    
}

.nav-item a:hover {
   
    opacity: 1;
    color: rgba(255, 255, 255, 0.91);
    box-shadow: none;
    box-sizing: unset;
    background: transparent;
    text-shadow: 0 0 10px rgb(130, 255, 225, 2);
}

video {
    min-width: 100vw;  /* At least full width */
    min-height: 100vh; /* At least full height */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover; /* Keeps the aspect ratio and covers the whole screen */
    opacity: 0.9;
    z-index: 0;
}
.content {
    margin-top: 30px;
    position: relative;
    z-index: 1;
    background-color: rgba(240, 248, 255, 0);

}
.header {
    background-color: rgba(255, 255, 255, 0.262);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 2px solid rgb(10, 173, 244);
    border-top: 2px solid rgb(10, 173, 244);
}

#logo {
    border: 3px solid rgb(46, 171, 255);
    border-radius: 50%;
    box-shadow: 0 0 50px rgb(6, 197, 255);
}
.header span {
    height: 200px;
    width: 200px;
    /* border-radius: 50%; */
    /* background-color: rgb(0, 255, 217); */
}
#title {
    height: 80px;
    width: 400px;
    padding: 10px 10px;
    color: white;
    text-align: center;
    font-size:larger;
    font-weight:bolder;
    background-color: rgba(0, 29, 75, 0.91);
    border: 2px solid rgb(10, 173, 244);
    border-radius: 20px 10px;
    transform: skew(-20deg); 
    box-shadow: 0 0 50px rgb(6, 197, 255);
}
.card-container {
    height: 550px;
    margin-top: 20px;
    margin-bottom: 50px;
    border-bottom: 1px solid rgb(10, 173, 244);
    display: flex;
    justify-content: space-evenly;
    align-items: end;
}

.card {
    background-color: black;
    height: 500px;
    width: 330px;
    border: 3px solid rgb(0, 255, 225);
    border-radius: 10%;
    transition-duration: 0.3s;
    transition-delay: 0.1s;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.card-img {
    height: 80%;
    width: 100%;
    border-bottom: 2px solid rgb(0, 255, 225);
    border-radius: 11%;
}

.card:hover {
    box-shadow: 0 10px 50px rgb(202, 224, 255);
    margin-bottom: 30px;
}

.card p {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.card button {
    width: 200px;
    height: 50px;
    margin-bottom: 5px;
    background-color: rgb(0, 54, 90);
    border-radius: 10px;
    border-color: white;
    font-weight: bold;
    font-size: 18px;
    /* font-family: monospace; */
    color: white;
    padding: 10px;
    /* margin-left: 10px; */
    text-align: center;
    cursor: pointer;
    transition-delay: 0.1s;
    transition-duration: 0.2s;
}

.card button:hover {
    background-color: rgb(72, 203, 255);
}

h2 {
    color: white;
    background-color: rgba(255, 255, 255, 0.168);
    margin-top: 100px;
    text-align: center;
    border-top: 1px solid rgb(10, 173, 244);
    border-bottom: 2px solid rgb(10, 173, 244);
}

.footer {
    height: 250px;
    padding: 50px 0;
    border-top: 2px solid rgb(10, 173, 244);
    color: white;
    display: flex;
    justify-content: space-evenly;
}

.footer div p {
    font-weight: bold;
}

@media (max-width: 768px){
    .navbar{
        flex-direction: column;
    }
    .nav-item{
        margin: 10px 0;
        width: 100%;
        text-align: center;
    }
}

@media(max-width: 1050px) {
    #logo { 
        height: 100px;
        width: 100px;
        /* border: 3px solid rgb(46, 171, 255);
        border-radius: 50%;
        box-shadow: 0 0 50px rgb(6, 197, 255); */
    }
    #title {
        height: 30px;
        width: 200px;
    }
    h1{
        font-size:large;
    }
    .card {
        /* background-color: black; */
        height: 300px;
        width: 200px;
        /* border: 3px solid rgb(0, 255, 225);
        border-radius: 10%;
        transition-duration: 0.3s;
        transition-delay: 0.1s;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        cursor: pointer; */
    }
    .card-container {
        height: 350px;
        /* margin-top: 20px;
        margin-bottom: 50px;
        border-bottom: 1px solid rgb(10, 173, 244);
        display: flex;
        justify-content: space-evenly;
        align-items: end; */
        display: flex;
        flex-wrap: wrap;
    }
    .card button {
        width: 150px;
        height: 25px;
        /* margin-bottom: 5px;
        background-color: rgb(0, 54, 90);
        border-radius: 10px;
        border-color: white;
        font-weight: bold;*/
        font-size: 15px; 
        /* font-family: monospace; */
        /* color: white; */
        padding: 5px;
        /* margin-left: 10px; */
        /* text-align: center;
        cursor: pointer;
        transition-delay: 0.1s;
        transition-duration: 0.2s; */
    }
    .card p {
        /* text-align: center; */
        font-size: 12px;
        font-weight:normal;
    }
    h2 {
        /* color: white;
        background-color: rgba(255, 255, 255, 0.168); */
        margin-top: 50px;
        font-size:medium;
        /* text-align: center;
        border-top: 1px solid rgb(10, 173, 244);
        border-bottom: 2px solid rgb(10, 173, 244); */
    }    
}


@media(max-width: 660px) {
    .card {
        /* background-color: black; */
        height: 230px;
        width: 150px;
        /* border: 3px solid rgb(0, 255, 225);
        border-radius: 10%;
        transition-duration: 0.3s;
        transition-delay: 0.1s;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        cursor: pointer; */
    }
    .card-container {
        height: 300px;
        /* margin-top: 20px;
        margin-bottom: 50px;
        border-bottom: 1px solid rgb(10, 173, 244);*/
        display: flex;
        justify-content: space-evenly;
        align-items: center; 
    }
    .card button {
        width: 100px;
        height: 20px;
        /* margin-bottom: 5px;
        background-color: rgb(0, 54, 90);
        border-radius: 10px;
        border-color: white;
        font-weight: bold;*/
        font-size: 12px; 
        /* font-family: monospace; */
        /* color: white; */
        padding: 3px;
        /* margin-left: 10px; */
        /* text-align: center;
        cursor: pointer;
        transition-delay: 0.1s;
        transition-duration: 0.2s; */
    }
    .card p {
        /* text-align: center; */
        font-size: 10px;
        font-weight:medium;
    }
    h2 {
        /* color: white;
        background-color: rgba(255, 255, 255, 0.168); */
        margin-top: 50px;
        font-size:medium;
        /* text-align: center;
        border-top: 1px solid rgb(10, 173, 244);
        border-bottom: 2px solid rgb(10, 173, 244); */
    }    
    .footer {
        height: 400px;
        padding: 25px 0;
        /* border-top: 2px solid rgb(10, 173, 244); */
        /* color: white; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        /* flex-wrap: wrap; */
        font-size: small;
    }
    
@media(max-width: 500px) {
    #logo {
        height: 80px;
        width: 80px;
    }
    #title {
        height: 20px;
        width: 150px;
    }
    h1{
        font-size:medium;
    }
    .card-container {
        height: 600px;
        /* margin-top: 20px;
        margin-bottom: 50px;
        border-bottom: 1px solid rgb(10, 173, 244);*/
        display: flex;
        justify-content: space-evenly;
        align-items: center; 
    }
}

    
    @media (min-width: 500px)and(max-width: 660px) {
    .card-container {
        height: 300px;
        /* margin-top: 20px;
        margin-bottom: 50px;
        border-bottom: 1px solid rgb(10, 173, 244);*/
        /* display: flex;
        justify-content: space-evenly;
        align-items: center;  */
    }
}
    
    .footer div p {
        font-weight:400;
    }
}